$bg: rgb(243, 243, 243);
$red: rgb(179, 24, 24);
$dark-grey: rgb(165, 165, 165);

.calculator {
	width: 80%;
	padding: 60px 80px;
	box-sizing: border-box;
	margin: 50px auto;
	border-radius: 8px;

	&__title_block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		font-weight: 700;

		&_number {
			margin: 0;
			color: $red;
			font-size: 1.1rem;
		}
	}

	&__title_block p {
		margin: 0;
	}

	&__range {
		-webkit-appearance: none;
		border-radius:2px;
		height:10px;
		outline : none;
		width: 100%;
		margin-bottom: 30px;

		&::-webkit-slider-thumb{
			-webkit-appearance: none;
			width: 30px;
			height:30px;
			background: linear-gradient(#9e9e9e, #2d2d2d);
			box-shadow: 1px 2px 3px $dark-grey;
			border-radius:50%;
			cursor:pointer;
			transition:.1s;
		}

		&:focus::-webkit-slider-thumb {
			border: 2px solid rgba(255, 255, 255, 0.363);
		}

		&::-webkit-slider-thumb:hover,
		&::-webkit-slider-thumb:active {
			transform: scale(1.1);
			background: linear-gradient(to top, #9e9e9e, #2d2d2d);
			box-shadow: 1px 2px 6px darken($dark-grey, 10%);
		}
	}

	&__total_block {
		display: flex;
		justify-content: flex-start;
		font-weight: 700;
		font-size: 1.3rem;

		&_text {
			margin: 0 15px 0 0;
		}

		&_BYN {
			color: $red;
			margin: 0;
		}

		&_USD {
			display: block;
			color: $dark-grey;
			margin: 0;
		}
	}
}

.themeToggler {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 50%;
	margin: 0 auto;
	outline: none;
	font-weight: 700;
	font-size: 1rem;
}